body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ol{
  font-size: small;
}

.scroll-container {
  height: 400px; /* Adjust height as needed */
  width: 300px;
  overflow-y: scroll;
  border: 1px solid #ddd; /* Optional border for styling */
}

header,p{
  font-weight:bold;
  text-align: center;
}
button{
  color:white;
  background-color: blue;
  border-radius: 15%;
  border-color: blue;
  align-content: end;
  font-weight: bold;
}