body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header p{
  font-size: large;
}

ol{
  padding-left:20px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.left{
  float:left;
  border:1px solid black;
}

.right{
  float:right;
  border:1px solid black;
}

.parent{
  display:flex;
  flex-direction: row;
}

.box{
  border:1px solid black;
  flex:content;
  padding: 5px;
  max-width: 300px;
  font-size: small;
}

.box span{
  padding: 3px;
  text-align: center;
}

.title{
  font-weight: bold;
  display: block;
  background-color: #888;
  color: white;
}

.selected{
  font-weight: bold;
}

.hidden{
  display:none;
}
.visible{
  display:block;
}

.moreHidden{
  display:none;
}
.moreVisible{
  padding: 3%;
  overflow: hidden;
  font-size: small;
  display:block;
}

.login{
  text-align: right;
}
.login label{
  padding-left: 3%;
}
.user{
  padding-top: 1%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content-details {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}